@model DanielAdrianCornejo_Examen1P.Models.DC_Carro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DC_Carro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DC_Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DC_Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DC_Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DC_Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DC_Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DC_Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DC_Vendido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DC_Vendido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DC_Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DC_Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DC_CarroID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
